body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 30px 10px;
}

.caja {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #8d7f2e;
    border-radius: 15px;
    width: 180px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.caja:hover {
    transform: scale(1.08);
    background-color: rgba(255, 255, 255, 0.2);
}

.caja h3 {
    color: #8d7f2e;
    margin-bottom: 10px;
}
h3{
    color: #8d7f2e;
}
.caja img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.comu{
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}
.list{
     list-style-type: none;
     margin-left: 0%;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.6rem;
    font-weight: 900;
    text-align: center;
    margin: 40px auto;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2b1b12;
    
    /* Línea decorativa debajo */
    position: relative;
}

h1::after {
    content: "";
    display: block;
    width: 120px;
    height: 4px;
    background: linear-gradient(90deg, #c49b63, #ffdd95);
    margin: 12px auto 0;
    border-radius: 5px;
}

/* Sombra suave opcional */
h1 {
    text-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}