
/* HEADER */
header {
  background-color: #2b1b12;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  flex-wrap: wrap;
}

header .logo h1 {
  font-size: 1.8rem;
  letter-spacing: 1px;
}

header .logo span {
  color: #d9a760;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
  flex-wrap: wrap;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #d9a760;
}
/*footer*/
footer {
  background-color: #2b1b12;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 30px;
}