* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Hace que la página tenga altura completa */
html, body {
  height: 100%;
}

/* Hace que todo el contenido se distribuya verticalmente */
body {
  display: flex;
  flex-direction: column;
}

/* HEADER */
header {
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-weight: 900;
  background-color: #2b1b12;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;   /* <--- Cambiá esto para ajustar el tamaño */
  flex-wrap: wrap;
}

header .logo h1 {
  font-size: 1.8rem;
  letter-spacing: 1px;
}

header .logo span {
  color: #d9a760;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
  flex-wrap: wrap;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #d9a760;
}

/* FOOTER SIEMPRE ABAJO */
footer {
  background-color: #2b1b12;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: auto;
}
