/*  RESETEO Y CONFIGURACIÓN BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-weight: 900;
  background-color: #f5f0e8;
  color: #333;
}



/*  BUSCADOR */
.buscador {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.buscador input {
  width: 60%;
  padding: 10px 15px;
  border: 2px solid #d9a760;
  border-radius: 30px;
  font-size: 1rem;
  background-color: #fffaf3;
  outline: none;
}

/* SECCIÓN PRINCIPAL */
main {
  flex: 1;
  text-align: center;
  padding: 20px;
}

/*  SECCIÓN DESTACADOS */
.destacados {
  padding: 60px 80px;
}

.destacados h2 {
  /* CAMBIÁS AQUÍ el tamaño del título “Destacados” */
  text-align: start;
  font-size: 3.0rem;
  margin-bottom: 25px;
  color: #1c1c1c;
  letter-spacing: 1px;
}


/*  GALERÍA DE GUITARRAS */
.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 25px;
  justify-items: center;
}

.guitarra {
  width: 100%;
  max-width: 300px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: transform 0.3s ease;
  background-color: #fff;
}

.guitarra:hover {
  transform: translateY(-6px);
}

.guitarra img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  background-color: #f8f8f8;
}

/* INFO DE CADA GUITARRA */
.info {
  padding: 15px;
  text-align: left;
}

.info .etiqueta {
  font-size: 0.85rem;
  color: #a89056;
  margin-bottom: 5px;
}

.info h3 {
  font-size: 1.0rem;
  color: #000;
  margin: 5px 0;
  letter-spacing: 0.5px;
}

.info .marca,
.info .color {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 3px;
}

.info .precio {
  font-weight: bold;
  color: #000;
  margin-top: 10px;
}

.imagenes {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.imagenes img {
  width: 600px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  object-fit: cover;
}

.info-producto {
  max-width: 400px;
}

.info-producto h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.etiqueta {
  color: #a89056;
  font-weight: 600;
  margin-bottom: 10px;
}

.precio {
  font-size: 1.5rem;
  font-weight: 800;
  color: #2b1b12;
  margin: 10px 0;
}