body {
    font-family: "Raleway", sans-serif;
    background: #f2f2f7;
    margin: 0;
}

.logo h1 {
    margin: 0;
    font-weight: 800;
}

.logo span {
    color: #e63946;
}

/* Contenedor del formulario */
.form-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 20px;
}

.form-card {
    background: white;
    width: 100%;
    max-width: 600px;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    animation: fadeIn 0.4s ease;
}

.form-card h2 {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 800;
}

/* Inputs */
.input-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-weight: 600;
    margin-bottom: 6px;
}

.input-group input,
.input-group textarea {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
    outline: none;
    transition: 0.2s ease;
}

.input-group input:focus,
.input-group textarea:focus {
    border-color: #e63946;
    box-shadow: 0 0 6px rgba(230,57,70,0.4);
}

/* Botones */
.form-buttons {
    display: flex;
    gap: 12px;
    margin-top: 25px;
}

.btn-save,
.btn-cancel {
    padding: 12px 22px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 700;
    border: none;
}

.btn-save {
    background: #0095f1ff;
    color: white;
}

.btn-save:hover {
    background: #1d3557;
}

.btn-cancel {
    background: #e63946;
    color: white;
}

.btn-cancel:hover {
    background: #a4161a;
}